/* Network.jsx */

.container{
    width:70%;
}

.custom-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 15%;
    margin-bottom: 15%;
    justify-content: center;
}

.profile-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.profile-image {
    width: 240px; /* Ajusta el tamaño según sea necesario */
    height: 240px; /* Ajusta el tamaño según sea necesario */
    border-radius: 50%;
    object-fit: cover; /* Asegura que la imagen se recorte para llenar el círculo */
    margin-right: 40px; /* Espaciado entre la imagen y los detalles del perfil */
    border: 4px solid black;
}

.profile-info {
    position: relative;
    margin-top: 16px;
    width: 100%;
    height: 32px;
}

.profile-info h2 {
    margin: 0;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    padding-right: 5px;
}

.profile-info::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
}

.drop-profile-button{
    background-color: red;
    width: 50%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 40px;
}

.custom-button{
    background-color: rgb(0, 170, 255);;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: "20px";
    width: 240px;
    height: 120px;
    border: 2px solid black;
    border-radius: 16px;
    margin-right:10%;
    margin-left:10%;
}

.button-image {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-top: 16px;
}
  
.button-text {
    font-weight: bold;
    font-size: 16px;
}