/* Upload.jsx */

.not-uploaded-file{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
    font-size: 30px;
    font-weight: bold;
}

.item-controller{
    width: 88vw;
    height: 100vh;
    /*background-color: yellowgreen;*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5%;
    padding: 5%;
    overflow-y:auto;
}

.item {
    width: 340px;
    height: 340px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid black;
    border-radius: 32px;
}

.upload-file-button{
    background-color: white;
}

.upload-file-image{
    width: 64%;
    height: 60%;
    margin: 5%;
    padding-left: 4%;
}

.upload-file-button-text{
    font-weight: bold;
    font-size: 20px;
}

.uploaded-file-item{
    background-color: white;
}

.view-file{
    width: 100%;
    height: 52%;
    object-fit: cover;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
}

.file-description{
    width: 100%;
    height: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.options-bar{
    width: 100%;
    height: 24%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.uploaded-file-options{
    width: 100px;
    height: 10px;
}

.image-option{
    width: 32px;
    height: 32px;
    margin-right: 30px;
    margin-left: 30px;
}