/* App.css */
.app {
  font-family: Arial, sans-serif;
  text-align: center;
}

.header {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.main {
  margin-top: 50px;
}

.main-title {
  font-size: 32px;
  color: #333;
}

.main-subtitle {
  font-size: 24px;
  color: #666;
  margin-top: 20px;
}

.main-description {
  font-size: 18px;
  color: #666;
  margin-top: 20px;
}

.main-image {
  margin-top: 30px;
}

.main-image img {
  max-width: 100%;
  height: auto;
}

.main-content {
  display: flex;
}

.main-text {
  width: 50%; /* Cambia según sea necesario */
  float: left;
}

.main-image {
  width: 50%; /* Cambia según sea necesario */
  float: left;
}